/Krzywe Eliptyczne/nbproject/private/
/Krzywe Eliptyczne/build/
/Krzywe Eliptyczne/dist/
/Obfuscator/nbproject/private/
/Obfuscator/build/
/Kalkulaotr/nbproject/private/
/Kalkulaotr/build/
/Obfuscator/dist/
/SayHello/nbproject/private/
/SayHello/build/